/* ProjectStyle.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    margin: 0.5rem;
    font-family: "Roboto", sans-serif;
    background-image: url("css\istockphoto-624679260-1024x1024.jpg");
    text-align: center;
    background-color: #f9f9f9;

}

header {

    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 3rem;


}

h1 {
    font-size: 3rem;
    font-family: cursive;
    color: black;
    position: absolute;
    left: 100px;


}

h2 {

    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
}

ul {
    background-color: #333;
}



nav ul {
    font-size: 0.8rem;
    /* Adjust the font size to make it smaller */
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    /* Add margin: 0 to remove the default margin */
}

nav li {
    border-top: 1rem;
    /* Remove the top border */
    flex-grow: 1;
    margin: 0;
    /* Add margin: 0 to remove the default margin */
}


nav a {
    display: block;
    padding: 0.5rem 1rem;
    /* Adjust the padding to make it smaller */
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}


nav a:hover,
nav a:focus {
    background-color: #fff;
    color: #333;
    text-decoration: underline;
}

main {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0;
}


.food-image {
    width: 400px;
    height: auto;
}